figure, figcaption {
	display: block;
}

.transition {
    -webkit-transition: top 400ms linear;
    -moz-transition: top 400ms linear;
    -ms-transition: top 400ms linear;
    -o-transition: top 400ms linear;
    transition: top 400ms linear;
}

.timeTo {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 28px;
	line-height: 108%;
	height: 32px;
}

.timeTo span {
    font-family: 'Open Sans', sans-serif;
	vertical-align: top;
}

.timeTo figure {
	display: inline-block;
	padding: 0;
    min-width: 115px;
    text-align: center;
}
.timeTo figure:first-of-type {
    width: 130px !important;
}

.timeTo figcaption {
	font-size: 14px;
    text-align: center;
    line-height: 1em;
	font-weight: normal;
	color: #fff;
}

.timeTo div {
	position: relative;
	display: inline-block;
	color: #fff;
    width: 50px !important;
    height: 83px !important;
    background: #81110b;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 4px;
    margin: 0 2.5px;
	overflow: hidden;
}

.timeTo ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 10px !important;
}

.timeTo ul li {
    margin: 0;
    padding: 0;
    height: 66px !important;
    list-style: none;
}